extends templates/layout

block content

    div.table__top
        h1.table__top__title="Upload"
        a(href="/records").btn="List"

    div.table
        div
            span="Sentence:"
            span
        div
            a(href="#").btn="Upload"
            a(href="#").btn="Cancel"            