extends templates/layout

block content

    div.table__top
        h1.table__top__title="Upload"
        a(href="/records").btn="List"

    div.form
        div.form__input
            label="Sentence:"
            input(type="text")
            label="Source:"
            input(type="text")
        div.form__buttons
            a(href="#").btn="Upload"
            a(href="#").btn="Cancel"            