extends templates/layout

block content

    div.table__top
        h1.table__top__title="Upload"
        a(href="/records").btn="List"

    div.form
        form(method="POST" enctype="multipart/form-data")
            div.form__input
                    label="Sentence:"
                    input(name="sentence", type="text")
                    label="Source:"
                    input(name="source", type="text")
            div.form__buttons
                    input(type="submit", value="Upload")
                    input(type="submit", value="Cancel")