@import "reset.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.table {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  

    .cell {
    }
  }
}