@import "reset.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 55%;
  margin: 0 auto;  
}

.table__top {
  display: grid;
  grid-template-columns: 3fr 1fr;

  margin: 20px 0px;
  padding: 0px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;

  .table__top__title {
    padding: 10px 0px;
    font-style: italic;
    font-weight: 700; // bold
    font-size: 33px;
  }
}

.btn {
  background-color: orange;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
}

.table {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
  border: 1px solid black;

  & > * {
    background-color: #C6C6C6;
    padding: 10px;
  }
}

.form {
  .form__input {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
  
    input {
      border: none;
      border-bottom: 1px solid black;
    }

    span {
      border: none;
    }

    & > * {
      padding: 10px 10px 0px 10px;
      margin: 20px 20px 0px 20px;
    }
  }

  .form__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 5% 15%;

    & > * {
      margin: 0% 10%;
    }
  }

}